# 忽略 IDE 和 Python 缓存文件
.idea/
__pycache__/

# 忽略过大的特征文件和图数据
all_output/

# 忽略项目运行时产生或下载的大规模结构数据和图数据
*.pdb
*.pyg

# 🌟 强制允许上传示例数据文件夹中的所有内容（覆盖上述的拦截规则）
!example_data/
!example_data/*

# 忽略系统隐藏文件
.DS_Store
Thumbs.db